body{
background-color: #556b2f;
}

/*header color*/
h1{
  color: #8B4513;
  font-size: 400;
}

h2,
h3{
  color: #EEE8AA;
}

a:link, a:visited {
  color: black;
}
  a:hover, a:active {
  color: #EEE8AA;
  }

/*form subheading*/
th{
  color: #8B4513;
  font-size:30rem;
}

fieldset{
  background-color:#8B4513;
  max-width:500;
  padding:16;	
}


