body{
background-color: #556b2f;
}

h1,
h2,
h3{
  color: #EEE8AA;
}

a{
  font-family: Lucida Bright, Arial;
}
a:link {color: #000000;}
a:hover {color: #EEE8AA;}

fieldset
{
  background-color:#8B4513;
  max-width:500px;
  padding:16px;	
}
.legend1
{
  margin-bottom:0px;
  margin-left:16px;
}

