body{
background-color: #556b2f;
}

/*header color*/
h1{
  color: #8B4513;
  font-size: 400;
}

h2,
h3{
  color: #EEE8AA;
}

a{
font-family: "LucidaBright", "Arial";
}
a:link {color: #000000;}
a:hover {color: #EEE8AA;}
a:visited {color: #000000;}

/*form subheading*/
th{
  color: #8B4513;
  font-size: 150px;
  font-family: "Lucidia Bright", "Arial";
}

fieldset{
  background-color:#8B4513;
  max-width:500;
  padding:16;	
}


